  
# dependencies
node_modules
.pnp
.pnp.js
build
.env.production.local
.next
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea

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